/*...........ENTETE.......*/

#Entete{
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:851px; 
}
.hid{
	border-bottom: 1px solid white;
}

.orange{
	color: rgb(255 148 0);
}

.Entet2{
	margin-top: 128px;
}

.Entete2-texte1{
	color:white;
	text-align: center;
	font-size: 45px;
	font-family: Arial black;
	margin-top: 90px;
}

.Entete2-texte2{
	color: white;
	text-align: center;
	font-size: 10px;
	font-family: Yu Gothic UI Semibold;
	margin-top: 30px;
	font-size:  18px;
}
 
.navbar ul a{
	color: white;
}
.net{
	font-size: 40px;
	color: white; 
	font-weight: bold;
	margin-top: 50px;
}

.point1{
	border-radius: 50%;
	background-color:white;
}

.point2{
	border-radius:50%; 
	background-color:rgb(255 148 0); 
}

.slide{ 

    margin-top: 150px;
 }
 
 #menu{
    margin-top: 50px;
    font-size:   20px;
 }

 #para1{
 	margin-top: 50px;

 }

 #menu a:hover{
 	color:rgb(255 148 0);
 	text-align: center;
 	border-bottom: 1px solid orange;

  }

 

 .nav_home{
 	text-align: center;
   
 }

 .navigation a{
 	background-color:inherit !important; 
 }

 #space{
 	margin-left: 5px;
 }

 #btn{
 	position: relative;
 	top: 20px;

 }

 .btn_view .active {
 	background-color: orange !important;
 	border-style: none;
 }


 .btn_view li {
 	background-color: white !important;
 	border-style: none;
 }


 .btn_menu{
 	background-color: black;
 	margin-top: -45px;

 }

.center{
	text-align: center;
	color: orange;
	font-size: 50px;
	margin-top:50px;
}

.b2{
	margin-top:70px;
}

.pr{
	text-align: center;
	margin-top: 25px;
}

.block2{
	background-color: rgb(230 229 225);
	margin-top: 60PX;
}

.imb2{
	margin-left: 140px;
	height: 350px;
	margin-top:15px;

}

.btext2{
	margin-left: 60px;
}

.list-group-item{
	background: none !important;
	margin-top: 10px;
	border: none;
	line-height: 0px;
}

.ms{
	border: 4px solid #eeeeee;
	width:  370px;
	height: 650px;
	margin-left: 170px;
	margin-top: 10px;
}

.ms1{
	margin-left: -50px;
	line-height:  -10px;
}

.M{
	margin-left:1090px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 60px;
}

.bt{
	margin-top: 20px;
	height: 90px;
	width: 160px;
	margin-left: 100px;
}

.Seo{
	font-weight: bold;
	margin-left: 110PX;
	font-size: 25PX;
	margin-top: 50px;
}

.par2{
	margin-left: 110px;
	margin-top: 20px;
}

.CC{
	font-weight: bold;
	font-size: 20px;
	margin-left: 110px;
	margin-top: 50px;
}

.st{
	font-size:   16px;
	color: orange;
}

.C h6{
	font-weight: bold;
	font-size: 20px;
	margin-left: 110px;
	margin-top: 240px;
}

.C p{
	margin-left: 110px;
}

.glyph_service{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color:rgb(217 217 217); 
	font-size: 25px;
	text-align: center;
	margin-left: 130px;
	margin-top: 50px;
}

.glyph_{
	margin-top: 20px;
	color: white;
	margin-top: 20px;
}

.glyph_para{
	color:black;
	font-size: 15px;
	font-weight: bold;
	margin-left: 110px;
	margin-top: 15px;
}

.block4{
	background:url(../images/b1.jpg);
	height: 420px;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 50px;
}

.OB{
	color: white;
}


.pd1{
   
    color: rgb(171 171 171);
 	line-height: 22px;
     
 }

 .d1{
 	font-weight: bold;
 	font-size: 50px
 }

 .pd2{
 	margin-top: 40px;
 
 }

 .p3{
 	margin-top: 10px;
 }
 .d1{
 	font-weight: bold;
 	font-size: 50px;
 	color: white;
 }
 .OB1{
 	margin-left: 130px;
 	margin-top: 50px;
 	color: white;
 }
 .OB2{
 	margin-top: 60px;
 	margin-left: -180px;
 	color:white;
 }
 .pd4{
 	color: white
 	line-height:25px;
 }
 .pd5{
 	color: rgb(171 171 171);
 	line-height: 22px;
 }
 .OB3{
 	margin-top: 50px;
 	color: white;
 	margin-left: 100px;	
 }
 .pd6{
 	font-size: 50px;
 	font-weight: bold;
 	color: white;
 }
 .pd7{
 	margin-top: 20px;
 }
 .OB4{
 	margin-top: 9px;
 	margin-left: -150px;
 	color:white;

 }



 /************************************************NWES ET EVENT**********************************************/
 .li1{
 	border:4px solid #eeeeee ;
 	height: 500px;
 	width: 400px;
 	margin-top: 20px;


 }

 .li2{
 	border:4px solid #eeeeee ;
 	height: 500px;
 	width: 400px;
 	margin-top: 20px;
 	margin-left: 15px;
 }

 .li3{
 	border:4px solid #eeeeee ;
 	height: 500px;
 	width: 400px;
 	margin-top: 20px;
 	margin-left: 15px;

 }

 #caro2{
 	margin-top: -5px;
 }

 .im3{
 	height:230px;
 	width:370px;
 	margin-top:20px;
 	margin-left: -5px;
 }
 .Te{
 	font-weight:bold;
 	font-size:20px;
 	margin-top: 10px;
 }

 .Tee{
 	/*margin-top:60px;*/
 	color:rgb(171 171 171);
 }

 .Me{
 	border:1px solid black;
 	text-align: center;
 	width: 82px;
 	height: 30px;
 	margin-top: 20px;
 }




/*******************************************CLIENT FEEDBACK***********************************/

 .ClientFeedack{
 	background-image:url(../images/7.jpg);
 	background-size: cover;
 	height: 340px;
 	margin-top: 15px;

 }

 .ce{
 	text-align: center;
	color: orange;
	font-size: 50px;
	margin-top:200px;
 }
 .ce1{
 	height:60px;
 	width: 60px;
 	margin-top: 10px;
 	margin-left: 70px;
  }

 


 .p8{
 
 	color:rgb(255,255,255);
 	font-size: 15px;
 	opacity: 0.5;
 	background-color:rgb(100 100 100); 
 	clip-path:polygon(0% 0%, 100% 0% ,100% 75% ,28% 75% ,25% 83% ,22% 75%, 0% 75%); 
 	margin-top: 80px;
 	height: 138px;
 	width:  370px;
 	padding-left: 15px;
 	padding-top: 15px;
 	opacity: 0.3px;
 	
 }
 .p9{
 	color: orange;
 	margin-left: 135px;
 	font-size: 20px;
 	margin-top: -60px;

 }
 .p10{
 	color:white;
 	margin-left: 135px;
 	margin-top: -15px;
 }

#caro25{
	margin-top: -40px;
}

/***************************************************NWESLETTER***************************/


.inpu{
	height: 50px;
	width:  550px;
	background-color:rgb(180 180 180); 
	margin-left:0px;
	border: none;
	margin-top:70px;  
}
.bu{
	background-color:orange;
	height: 50px;
	border:none;
	
}


/*******************************GOOGLE MAP**************************************************/

.map{
	margin-top:80px; 
}

/*****************************************CONTACT USE***********************************/


.ter{
	text-align: center;
	color: orange;
	font-size: 50px;
	margin-top:50px;
}
.form{
	margin-top: 60px;
}
.bt3{
	float: right;
	background-color: orange;
	height: 40px;
	width: 120px;
	border: none;
	color: white;
}
.us_2{
	margin-top: 40px;
	margin-left: 10px;
}
.get{
	font-weight: bold;
	font-family: arial black;
	margin-top: 40px;
	font-size: 18px;
}
.numb{
	color: rgb(171 171 171);
	line-height: 30px;
	margin-top: 0px;
}
.address{
	font-weight: bold;
	font-family: arial black;
	margin-top: 40px;
	font-size: 18px;
}
.avenue{
	 color: rgb(171 171 171);
	line-height: 25px;
    
}
.email{
	font-weight: bold;
	font-family: arial black
	margin-top:10px;
	font-size: 18px;
}
.mail{
	color: rgb(171 171 171);
}
.f1{
   text-align: center;
   margin-top: 60px;
   color: white;
}

  
/*******************************************************FOOTER*************************************/

.foter{
	background-image: url(../images/7.jpg);
	background-repeat:no-repeat; 
	background-size:cover;
	height: 300px;
	margin-top: 60px;
}
.pf1{
	color: white;
	font-weight: bold;
	/*margin-left: 700px;*/
	text-align: center;
	font-size: 17px;
	margin-top: 30px;

}
.f11{
	color: white;
	margin-top: 10px;
	text-align: center;
}

.f11_ionc{
	padding:10px;
}

hr{
	width: 70px;
	margin-top: -5px;
}
.f12{
	margin-top: -20px;
}



 /***************************************************mediaqwerry*************************/

 @media screen and (max-width: 768PX){
 	#menu{
 	background-color: black;
	opacity:0.5; 

 }
 }